@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
/* Fix Chrome autofill white background */
input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #020617 inset; /* slate-950-ish */
  -webkit-text-fill-color: #e5e7eb;               /* text-slate-200 */
}

/* When focused + autofilled */
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #020617 inset;
  -webkit-text-fill-color: #e5e7eb;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
